@{
  Layout = "_Layout";
}

<div class="card bg-light mb-3">
  <div class="card-header"><h1>Welcome To Pierre's Vendor/Order Tracker Application!</h1></div>
  <div class="card-body">
    <a href="/vendors" class="btn btn-primary">View Vendors</a>
    <a href="/vendors/new" class="btn btn-primary">Add Vendors</a>
  </div>
</div>