@{
  Layout = "_Layout";
}

<h1>Welcome Pierre's Vendor/Order Tracker Application!</h1>
<h3><a href='/vendors'>View Vendors</a></h3>
<h3><a href='/vendors/new'>Add New Vendor</a></h3>
<div id="name"></div>