@{
  Layout = "_Layout";
}

<h1>Add New Order To @Model.Name</h1>

<form action="/vendors/@Model.Id/orders" method="post">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
  <label for="orderTitle">Title:</label>
  <input id="orderTitle" name="orderTitle" type="number">
  <label for="orderDescription">Description:</label>
  <input id="orderDescription" name="orderDescription" type="text">  
  <label for="orderTotal">Total</label>
  <input id="orderTotal" name="orderTotal" type="text">
  <label for="orderDate">Date</label>
  <input id="orderDate" name="orderDate" type="date">
  <button type='submit'>Add</button>
</form>